
Welcome, <%= @user.username %>
<h1> Tweet Landing Page </h1>


<% Tweet.all.each do |tweet| %>
<a href="/tweets/<%= tweet.id %>">Tweet Number <%= tweet.id %></a> by User <%= tweet.user_id %> <br> <%= tweet.content %> <br><br>
<% end %>
<br><br>
<a href="/tweets/new">Add a New Tweet</a>

<br>
<a href="/logout"> Logout </a>
