<h2><%=@tweet.content%></h2><br>
<p>--------------------------------------------</p>
<p>Created by: <%=@tweet_creator.username%> on <%=@tweet.created_at%></p>
<% if @tweet.updated_at != @tweet.created_at %>
  <p>Last updated: <%=@tweet.updated_at%></p>
<%end%>



<form action="/tweets/:id/edit">
  <input type="submit" value="Edit Tweet">
</form>

<form action="/tweets/:id/delete">
  <input type="hidden" name="tweet_id" value="<%=@tweet.id%>">
  <input type="submit" value="Delete Tweet">
</form>
