  <%= @user.username %> says:
  <br>
  <%= @tweet.content %>

  <% if @user.id == @tweet.user_id %>
  <h2>Edit</h2>

  <form action="/tweets/<%=@tweet.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">

      <label>Edit Tweet</label><br>
      <textarea value="<%= @tweet.content %>" name="content" rows="4" cols="35"></textarea><br>
      <button id="submit" type="submit">Edit Tweet</button>
  </form>

  <h2>Delete</h2>
  <form action="/tweets/<%= @tweet.id %>" method="POST">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" id = "Delete Tweet" value="Delete Tweet">
  </form>
  <% end %>
