<h3>Take a close look at this tweet!</h3>
<p>
    <b><a href="/users/<%= @tweet.user.username %>" class="username">@<%= @tweet.user.username %></a></b> · 
        <span class="date-time"><%= @tweet.created_at.strftime('%-d %B %Y at %H:%M:%S (%Z)') %></span>
        <%= " · <a href=\"/tweets/#{@tweet.id}/edit\">Edit tweet</a>" if @tweet.user_id == current_user.id %>    
    <br>
    <%= @tweet.content %>
</p>

<% if @tweet.user_id == current_user.id %>
    <form action='/tweets/<%= @tweet.id %>' method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" name="submit" value="Delete tweet" class="btn btn-danger"><br><br>
    </form>
<% end %>