<% if flash.has?(:wrong_user) %>
  <%= flash[:wrong_user] %>
<% end %>
<% if flash.has?(:wrong_user_edit) %>
  <%= flash[:wrong_user_edit] %>
<% end %>

<h1>Welcome, <%= @user.username %></h1>
<% @tweets.each do |tweet| %>
    <li>
    <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
    </li>
<% end %>
<br>

<a href = "/tweets/new"><button>New Tweet</button></a>
<a href = "/logout"><button>Log Out</button></a>
