<h3><%= @user.username %>Tweets</h3>

<% if @user.tweets.count == 0 %>
  <p>There are no Tweets</p>
<% else %>
  <ul>
    <% @user.tweets.each do |tweet| %>
    <li><a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a>
      <%= tweet.content %>
      <% if current_user == tweet.user %>
        <a href="/tweets/<%= tweet.id %>"></a>
      <% end %>
    </li>
      <% end %>
    </ul>
      <% end %>
